<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{title}}</title>

  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="css/blog-post.css" rel="stylesheet">

</head>

<body id="certainBody">

  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <h1 class="mt-4">{{blogpost.title}}</h1>

        <p class="lead">
          by
          <a href="/contact">Dalbard</a>
        </p>

        <hr>

        <p>{{blogpost.datePosted}}</p>

        <hr>

        <p class="lead">{{blogpost.content}}</p>
        <hr>
        <br><br>
      </div>
    </div>
  </div>
  </div>

</body>