<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{portfolio.title}}</title>
</head>

<body>
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">{{portfolio.title}}</h5>
             <p class="lead">by<a href="/contact"> Dalbard</a></p>
            <p class="card-text">
                <a href="{{portfolio.projectLink}}" target="_blank">Link to project</a>
            </p>
            <p class="card-text"><small class="text-muted">Posted on, {{portfolio.datePosted}}</small></p>
        </div>
    </div>
</body>